.main{
   padding: 10px;
}
.main_icon_div{
  background-color: rgb(0, 180, 255);
  position: absolute;
  left: 96%;
  top: 10px;
  background-color: rgba(228, 228, 245, 0.21);
}
.list_style{
  margin-bottom: 20px;
}