.main{
    width: 200px;
    height: 100vh;
    background-color: rgb(245, 212, 234);
}
.sub{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
   
}
.link_text{
   text-decoration: none;
}
